* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}

.square {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    border: 2px solid red;
}